.prew {
  padding-top: 12rem;
  display: block;
  height: 100vh;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius: 50%;
    filter: brightness(80%);
  }
}
